
$container-padding-x: 2rem;

$border-radius:       1rem;
$border-radius-sm:    .75rem;
$border-radius-lg:    1.5rem;
$border-radius-pill:  50rem;

$jd-green:            #4f9766;
$jd-blue:             #70afd0;
$jd-grey:             #797979;
$jd-black:            #141414;

$tech-php:            #848db7;
$tech-js:             #e7d34d;
$tech-vue:            #3fb17e;
$tech-laravel:        #e7392c;
$tech-mysql:          #42759b;
$tech-elastic:        #ebb618;
$tech-jquery:         #0865a5;
$tech-handlebars:     #403225;

$primary:             $jd-blue;
$secondary:           $jd-grey;
$success:             $jd-green;
$info:                $jd-blue;
$dark:                $jd-black;

$link-color: scale-color($primary, $lightness: -20%)
